{% assign address = ff.object %}

<div class="form-item">
    {% form_field 'ff.label', 'first_address', 'address' %}
    {% form_field 'ff.text_field', 'first_address',  { "class": "input-text first-address", "placeholder": "address line 1"} %}
    {% form_field 'ff.error', 'first_address' %}
    {% form_field 'ff.text_field', 'second_address', { "class": "input-text second-address", "placeholder": "address line 2"} %}
    {% form_field 'ff.error', 'second_address' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'city', 'city' %}
    {% form_field 'ff.text_field', 'city', { "class": "input-text city", "placeholder": "city" }%}
    {% form_field 'ff.error', 'city' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'country', 'country' %}
    <div class='select-wrapper country'>
        {% form_field 'ff.country_select', 'country' %}
    </div>
    {% form_field 'ff.error', 'country' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'state', 'state' %}
    <div class='select-wrapper state'>
        {% country_state_select address, input_name: 'state', form: ff %}
    </div>
    {% form_field 'ff.error', 'state' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'zip', 'zip code' %}
    {% form_field 'ff.text_field', 'zip', { "class": "input-text zip", "placeholder": "zip code"} %}
    {% form_field 'ff.error', 'zip' %}
</div>
