<div class="home-product col col_3" data-product-url="{{ featured_product | product_url }}">
	<div class="inner">
		<a href="{{ featured_product | product_url }}">
			<div class="row clrfix">
				<div class="col col_3">
					{% for image in featured_product.images %}
						{% if forloop.first == true %}
							<img src="{{ image.small_url }}"/>
						{% endif %}
					{% endfor %}
				</div>

				<div class="col col_6">
					<h3>{{ featured_product.name }}</h3>
				</div>
			</div>

			<div class="row clrfix">
				<div class="col col_1">
			      <p class="description"></p>
				</div>
			</div>
		</a>
	</div>
</div>

