<div id="home3">

	<div class="wrapper">

		<!--<div class="row clrfix">
			<div class="col col_2">
				<h1>{{ settings.home_header }}</h1>


				<p>
					{{ settings.home_text }}
				</p>
			</div>

			<div class="col col_2">
				{{ 'home-product.png' | asset_url | img_tag | link_to: setting.home_product_link }}
			</div>
		</div>-->

		{% if featured_products != empty %}
	    <div class="content-block featured-products">
			<h3>Featured Products</h3>
	        <div class="product-list clrfix">
	            {% include 'featured_product' with featured_products %}
	        </div>
	    </div>

	    <script>
	        $(function() {
	            setup_carousels('.product-list .product .image-carousel');
	            bind_product_body_clicker('.product-list', '.product');
	        });
	    </script>
		{% endif %}

	</div>

</div>