<div class="add-to-cart-area">
	{% if product.sku == "Catalog0001"%}
		<a href="/uploads/website/file_content/content/09-09-2016/1240/Asurion_Fall_Apparel_Catalog_V4.pdf" target="blank" class="btn view_pdf">Download PDF</a>
	{% else %}
	    {% if shop.store_enabled? %}
	        <input type="submit" name="add_to_cart" value="Add to Cart" class="btn"/>
	        <br>
	    {% endif %}

	    {% if wishlist_enabled %}
	        <input type="submit" name="add_to_wishlist" value="Add to Wishlist" class="btn"/>
	    {% endif %}
    {% endif %}
</div>
