<div class="logo-form">
    {% form 'edit_logo', context_name: 'f', for: 'logo' %}
    <div class="container">
        <div class="dialog-data controller">
            <div class="form">
                <div class="form-row center fileupload-buttonbar">
                    <div class="choose-btn file-input">
                        <div class="fake-file-name">no image selected</div>
                        <div class="fake-upload-button linkable-button secondary">choose new image</div>
                        <div class="input file website_logo_image">
                            <input class="file required" data-value="{{ logo.image_url | escape_javascript }}" id="uploader" name="website_logo[image]" type="file" value="{{ logo.image_url | escape_javascript }}">
                        </div>
                        <div class="hint">you should upload high quality image</div>
                        {% form_field "f.error", "file" %}
                    </div>
                    {% form_field "f.hidden_field", "image_cache" %}

                    <div class="clear"></div>

                    <div class="separated-area">
                        <div class="logo-name input">
                            {% form_field "f.label", "name", "logo name :" %}
                            {% form_field "f.text_field", "name",  { "placeholder" : "logo name" } %}
                            {% form_field "f.error", "name" %}
                        </div>

                        <div class="remove-whitespaces">
                            {% form_field "f.check_box", "remove_whitespace" %}
                            {% form_field "f.label", "remove_whitespace", "remove whitespace", {"class" : "control-label"} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endform %}
</div>
