{% assign page_content = page_with_active_ecommerce %}

<div class="main clrfix">
	<div class="content-area {% if template_name == 'index' %}index-page{% endif %} clrfix">
		 {% if template_name == 'index' %}
            {% if settings.show_carousel %}
                {% include 'carousel' %}
             {% endif %}
        {% endif %} 

        {% include 'special_page' with page_content %}
	</div>
</div>

{% if template_name == 'catalog_page' and shop.filtering_active %}
<style type="text/css">
	.main{float: none;}
</style>
{% endif %}