{% if template_name != 'catalog_page' and settings.show_content_box != false %}
<div class="col_4 col">
    <!-- BOX 1 -->
    <div class="box">
        {{ settings.box_1_content }}
    </div>

    <!-- BOX 2 -->
    <div class="box">
        {{ settings.box_2_content }}
    </div>
</div>
{% endif %}

<div class="content-block {% if template_name != 'catalog_page' and settings.show_content_box != false%}col col_8{% endif %}">
    {% if template_name == 'catalog_page' and shop.filtering_active %}
    <!-- CATEGORY NAVIGATION -->
      <div id="category-navigation" class="category-navigation">
            {% category_navigation %}  <!-- TOP LEVEL CATEGORIES ONLY -->
      </div>
    {% endif %}

    {{ special_page }}
</div>

{% if featured_products != empty %}
<div class="content-block featured-products">
	<h1 style="color: #174987;">Featured Products</h1>
    <div class="product-list">
        {% include 'product' with featured_products %}
    </div>
</div>

<script>
    $(function() {
        setup_carousels('.product-list .product .image-carousel');
        bind_product_body_clicker('.product-list', '.product');
    });
</script>
{% endif %}
