<style>
	.row {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		z-index: 999;
	}
	
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.col > a > img {
		display: inline-block;
		max-width: 33.33333333%;
		width: 100%;
		float: left;
	}
</style>
<div class="row">
	<div class="col">
		<a href="/products">
			{{ "checkout.png" | asset_url | img_tag }}
		</a>		
	</div>
	<div class="col">
		<a href="/products">
			{{ "hat.png" | asset_url | img_tag }}
		</a>		
	</div>
	<div class="col">
		<a href="/products">
			{{ "cup.png" | asset_url | img_tag }}
		</a>		
	</div>
</div>