{% assign page_content = page_with_active_ecommerce %}

<div class="main">
	<div class="content-area {% if template_name == 'index' %}index-page{% endif %}">
		<!-- {% if template_name == 'index' %}
            {% if settings.show_carousel %}
                {% include 'carousel' %}
             {% endif %}
        {% endif %} -->

        {% include 'special_page' with page_content %}
	</div>
</div>

{% if template_name == 'catalog_page' and shop.filtering_active %}
<style>.iframe-area, .featured-products{display:none;}</style>
<div style="text-align:center;color:red!important;">
<h1>Thank you for choosing this mobile-friendly theme!</h1>
<p>This theme does not require a Catalog Page. Please turn off the Catalog Page in the Admin area.</p>
<p>If you have selected your Home Page as your Catalog Page, please create a new page in the Admin area, assign the newly create page as the Catalog Page, and turn it off.</p> 
</div>
{% endif %}
