<div class="field payment-preview" style="vertical-align: top;">
    {% if order.has_promotional_adjustments? %}
        {% for promotion_adj in order.promotion_adjustments %}
        <p class="adjustment promotion">{{ promotion_adj.note }} ({{ promotion_adj.amount | points_or_currency }})</p>
        {% endfor %}
    {% endif %}

    {% if order.has_balance_adjustments? %}
        {% for balance_adj in order.balance_adjustments %}
        <p class="adjustment balance">Paid by Account Balance: {{ balance_adj.amount | points_or_currency }}</p>
        {% endfor %}
    {% endif %}
</div>
