/*-------------------*/
/* GENERAL */
/*-------------------*/
*, h1, h2, h3, h4, a, p{
	font-family: 'Core Sans C 45'!important;
}

#menu{
	background:#FFF!important;
}

.sy-pager li.sy-active a{
	background-color:#0f0f59!important;
}

.sign-in, .sign-up{
	border:2px #0f0f59 solid!important;
}

/*-------------------*/
/* TOP NAV */
/*-------------------*/
a.cart, .account-links a, .navigation-bar ul.main-nav.navigation-menu > li > a{
	color:#0f0f59!important;
}


/*-------------------*/
/* HEADER */
/*-------------------*/

/*-------------------*/
/* CATEGORY NAV */
/*-------------------*/

/*-------------------*/
/* CONTENT */
/*-------------------*/

/*-------------------*/
/* PRODUCT THUMBS */
/*-------------------*/

/*-------------------*/
/* PRODUCT */
/*-------------------*/

/*-------------------*/
/* CART/CHECKOUT */
/*-------------------*/
.notify-error{
	background:#F3294D!important;
}

/*-------------------*/
/* FOOTER */
/*-------------------*/
#footer h1, .footer-content a, #footer p{
	color:#FFF!important;
}

/*-------------------*/
/* MEDIA QUERIES */
/*-------------------*/
@media screen and (min-width: 661px){
	div.top-area .logo {
		margin-left:-100px;
	}
}

@media screen and (max-width: 660px){

}