<style>
	.checkout-summery {
		display: none;
	}
</style>
{% capture headline %}
<div class="centerized">Thank You</div>
{% endcapture %}
{% capture checkout_page_content %}
<div class="content-item thank-you">
    <div class="title">{{ settings.order_confirm_header }}</div>
    <div class="body">
        {% if order.moas_pending? %}
            <p style='color: red; text-align: center;'>Your order has been sent for approval.  You will get a confirmation email if your order is approved.</p>
        {% else %}
            {{ settings.order_confirm_message }}
        {% endif %}
    </div>
</div>
<div class="content-item suggested-products">
    {% if products != empty %}
    <div class="suggestion-message">You May Also Like These Products</div>

    <div class="featured-products">
        <div class="product-list">
            {% product_samples 6 %}
                {% include 'product' with product_samples %}
            {% endproduct_samples %}

            <script>
                $(function() {
                    setup_carousels('.product-list .product .image-carousel');
                    bind_product_body_clicker('.product-list', '.product');
                });
            </script>
        </div>
    </div>
    {% endif %}

    <div class="go-back">
        <a href="{{ root_url }}">Go Back To Home Page</a>
    </div>
</div>
{% endcapture %}
{% include 'checkout_page' with checkout_page_content, page_headline: headline %}
