<div class="content">
    <div class="content-block page-header">
        <h1>
            Order Denied
        </h1>
    </div>
    <div class="content-block">
        <div class="notice">
            <div class="centerized">
                Thank you for denying this order. If you’d like to e-mail the user with any additional information,
                please click here: <a href="mailto:{{ customer_email }}">{{ customer_email }}</a>.
            </div>
        </div>
    </div>
</div>
