<div class="content">
    <div class="content-block page-header">
        <h1>
            Order already Approved/Denied
        </h1>
    </div>
    <div class="content-block">
        <div class="notice">
            <div class="centerized">
               This order has already been approved or denied.
            </div>
        </div>
    </div>
</div>
