<div class="notification-area" style="position: absolute;  width: 100%; left: 0; margin-top: -10px;">
	{% if current_user %}
		<div class="notification notification-error">You are not authorized to view this page.</div>
	{% else %}
		<div class="notification notification-error">You are not authorized to view this page. You may need to login to access the requested page.</div>
	{% endif %}
</div>

{% unless current_user %}
	{% include "login" %}
{% endunless %}
