<div id="content" class="content-page">
    {% include 'update_breadcrumbs' %}
    {% if settings.show_breadcrumbs %}
{% include 'breadcrumbs_section' %}
	
{% endif %}

	<!-- {% paginate products_search by 20 %} -->
	<!-- {% include "filtering" %} -->
	<div class="content-block products filtering-results">
        <!-- {% include 'sort' %} -->
        <!-- <p class='info'>We found {{ products_search.total | pluralize: 'item', 'items' }}</p>
        {% include 'current_filters' %}
        {% include 'current_keywords' %} -->
		<div class="product-list flo">
			{% include "product" with paginate.collection %}
			{% include "paginator", paginate: paginate %}
		</div>
        {% include 'product_list_js' %}
	</div>
	{% endpaginate %}
</div>
