<div class="content-main clrfix">
    <div id="content" class="content-page">
        <h1>
            {% if page_headline %}
                {{ page_headline }}
            {% else %}
                Checkout
            {% endif %}
        </h1>
		{% include 'checkout_summary', order: order %}
		<div class="clear"></div>
        <div class="checkout-main">
            {{ checkout_page }}
        </div>
    </div>
</div>
