<div class='selected-filters'>

    {% keyword_facets %}
        {% if keywords.collection != empty %}
          <h4>KEYWORDS:</h4>
        {% endif %}

        {% for keyword in keywords.collection %}
          <div class="filter-rule">
            <a href="{{ keyword.remove_keyword_url }}">{{ keyword.text }}</a>
          </div>
        {% endfor %}

        {% if keywords.collection.size > 1 %}
          <div class="filter-rule">
            <a href="{{ keywords.remove_all_keywords_url }}">remove all</a>
          </div>
        {% endif %}
    {% endkeyword_facets %}

</div>
