{% assign render_once = true %}

<div class='selected-filters'>
  {% for filter_rule in filter_rules %}
  {% filtrate products_search by filter_rule %}
  {% if filter.selected_facets != empty %}

  {% if render_once == true %}
  <h4>YOUR SELECTIONS:</h4>
  {% endif %}
  {% assign render_once = false %}

  <div class='filter-rule'>
    {% for facet in filter.selected_facets %}
    {% include 'selected_facet' with facet, filter_rule %}
    {% endfor %}
  </div>
  {% endif %}
  {% endfiltrate %}
  {% endfor %}
</div>
