{% if line_item.choices != empty %}
<div class="product-options">
    <h2>Product Options:</h2>

    {% for choice in line_item.choices %}
        {% assign group  = choice.product_option_group %}
        {% assign option = choice.product_option %}

        {% if group %}
            <div class="product-group">
                <h3>{{ group.name }}</h3>
                <div class="attributes">
                   {% include 'product_option_attributes' option: option, line_item: line_item %}
                </div>
            </div>
        {% elsif option %}
            {% include 'product_option_attributes' option: option, line_item: line_item %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% if line_item.logo %}
    <div class="section logo">
        <!--h2>Logos:</h2-->
        {% include 'logo_attributes' logo: line_item.logo %}
    </div>
{% endif %}

{% if line_item.product_personalizations != empty %}
    <div class="section product-personalizations">
        <h2>Product Personalizations:</h2>

        {% include 'product_personalization_attributes' line_item: line_item %}
    </div>
{% endif %}
