{% if logos.size > 0 %}
<div class="prod_option_block">
    <div class="logo-info clrfix">
        <div class="form-item clrfix">
            <div class='product-option-wrapper'>
                <label>
                    Logo
                    {% if product.logo_required? %}*{% endif %}
                </label>
                <div class="select-area {% if shop.show_logos_as_thumbs? %}thumbnail{% endif %}">
                    <select data-type="virtual-logo" class="msdropdown-select">
                        <option value='' {% if shop.show_logos_as_thumbs? %}style="visibility:hidden; display: list-item;"{% endif %}>not specified</option>
                        {% for logo in logos %}
                        <option data-image="{{ logo.front_thumb_url }}" value="{{logo.id}}" {% if logo.id == line_item.logo_id  %} selected {% endif %}>{{ logo.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
