{% form 'login' %}
<div class="form-item">
    <label>Username or Email</label>
    <input type="text" name="website_user[login]" class="input-text" placeholder="username or email" rel="login"/>
</div>

<div class="form-item">
    <label>Password</label>
    <input type="password" name="website_user[password]" class="input-text" placeholder="password" rel="password"/>
</div>

<input type="submit" value="Sign in" class="btn custom_btn btn_sign custom-button {% if template_name == 'login' %}btn-heather{% else %}btn-tradewind{% endif %}"/>
{% endform %}