<div class="hot-spots-container">
    <div class="actions action-buttons">
        <a href="{{ hot_spot_preview_image | edit_hotspots_preview_image_url: hot_spot_type }}" class="action-button save-button apply-hotspots" data-remote="true">edit hotspots</a>
    </div>
</div>