<a href="{{ hot_spot_preview_image | apply_hotspots_preview_image_url: hot_spot_type }}" class="action-button save-button apply-hotspots" data-remote="true">apply hotspots</a>
<a href="{{ hot_spot_preview_image | reset_hotspots_preview_image_url: hot_spot_type }}" class="action-button cancel-button reset-hotspots" data-remote="true">reset hotspots</a>
