<div id="wishlist_quote_dialog">
	<p>Would you like to receive a copy?</p>
	<div class="wishlist-quote-buttons">
		<a href="{{ wishlist_request_quote_url }}?send_copy_to_customer=yes" data-method='post' class="button btn">Yes</a>
		<a href="{{ wishlist_request_quote_url }}" data-method='post' class="button btn">No</a>
	</div>
</div>
