<div id="content" class="content-page">
    <div class="content-main clrfix">
        {% if shop.catalog_enabled? %}
            {% include 'page_with_active_ecommerce' with page.content %}
        {% else %}
            {% if page.is_home_page and settings.show_carousel %}
                {% include 'carousel' %}
            {% endif %}

		{% if page.is_home_page settings.show_content_box != false %}
            <div class="col_3 col">
            	<!-- BOX 1 -->
            	<div class="box">
                	{{ settings.box_1_content }}
            	</div>

            	<!-- BOX 2 -->
            	<div class="box">
                	{{ settings.box_2_content }}
            	</div>
				
				<!-- BOX 3 -->
            	<div class="box">
                	{{ settings.box_2_content }}
            	</div>
            </div>
		{% endif %}
            {{ page.content }}
        {% endif %}
    </div>
</div>
<script>
    $(function () {
                setup_carousels('.featured-products .product .image-carousel');
                bind_product_body_clicker('.featured-products', '.product');
            }
    );
</script>
