<style>

    .row {
      width: 1200px;
      margin: 20px auto 0 auto;
    }

    .row > img {
      display: block;
      width: 100%;
      max-width: 300px;
    }

    .row:before,.row:after {
      content: "";
      display: table;
      clear: both;
    }

    .col {
      width: 33.33333%;
      float: left;
    }
	
	.col:first-child {
	  text-align: left;
	}
	
	.col:first-child p {
	  position: relative;
	  left: 20px;
	}
	
	.col:nth-child(2) {
	  text-align: center;
	}
	
	.col:last-child {
	  text-align: right;
	}
	
	.col:last-child p {
	  position: relative;
	  right: 20px;
	}

    /* cells */
@media only screen and (max-width: 600px) {
	.row {
		width: 100%;
	}
	
	.col {
		width: 100%;
		float: none;
		text-align: center;
	}
	
	.col:first-child {
    	text-align: center;
	}
	
	.col:last-child {
		text-align: center;
	}
	
	.col:last-child p, .col:first-child p {
	  left: 0 !important;
	  right: 0 !important;
	}
}

</style>
<div class="row">
	<div class="col">
		<a href="/pages/281">{{ 'box_1.png' | asset_url | img_tag }}
			<p>Need something you don’t see here?  Contact us!</p></a>
	</div>
	<div class="col">
		<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FHoliday">{{ 'box_2.png' | asset_url | img_tag }}
			<p>Click here for Pensionmark Holiday items</p></a>
	</div>
	<div class="col">
		<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FMarketing+Materials">{{ 'box_3.png' | asset_url | img_tag }}
			<p>Click here for Pensionmark Marketing Materials</p></a>
	</div>
</div>