<div class="add-to-cart-area">
	{% if product.sku == "FAM0049C" or product.sku == "FAM0050C" %}
		<a href="mailto:foa@epromos.com?subject=WINE ORDER {{product.sku}}" class="btn" style="display: block; color: #FFF; text-align: center;">Contact Us</a>
	{% else %}
		{% if shop.store_enabled? %}
			<input type="submit" name="add_to_cart" value="Add to Cart" class="btn"/>
			<br>
		{% endif %}

		{% if wishlist_enabled %}
			<input type="submit" name="add_to_wishlist" value="Add to Wishlist" class="btn"/>
		{% endif %}
	{% endif %}
</div>
