/*-------------------*/
/* GENERAL */
/*-------------------*/

/*-------------------*/
/* TOP NAV */
/*-------------------*/

/*-------------------*/
/* HEADER */
/*-------------------*/

/*-------------------*/
/* CATEGORY NAV */
/*-------------------*/

/*-------------------*/
/* CONTENT */
/*-------------------*/

/*-------------------*/
/* PRODUCT THUMBS */
/*-------------------*/

/*-------------------*/
/* PRODUCT */
/*-------------------*/
.usd h1{
	text-align:right;
	font-size:14px!important;
}
.usd{
	margin-top:0px!important;
}
/*-------------------*/
/* CART/CHECKOUT */
/*-------------------*/

/*-------------------*/
/* FOOTER */
/*-------------------*/

/*-------------------*/
/* MEDIA QUERIES */
/*-------------------*/
@media screen and (min-width: 661px){

}

@media screen and (max-width: 660px){

}