<div class="hot-spots-container">
    <div class="hot-spot-drag-title"> <div class="hot-spot-arrow"></div> </div>
    <div class="left-container hot-spot-container">
        <div class="hot-spot left-hotspot">
            <div class="big-circle"></div>
            <div class="hot-spot-square">
                <div class="top-left hot-spot-element"></div>
                <div class="top-right hot-spot-element"></div>
                <div class="bottom-right hot-spot-element"></div>
                <div class="bottom-left hot-spot-element"></div>
            </div>
            <div class="small-circle"></div>
            <div class="hot-spot-title">L</div>
        </div>
    </div>
    <div class="right-container hot-spot-container">
        <div class="hot-spot right-hotspot">
            <div class="big-circle"></div>
            <div class="hot-spot-square">
                <div class="top-left hot-spot-element"></div>
                <div class="top-right hot-spot-element"></div>
                <div class="bottom-right hot-spot-element"></div>
                <div class="bottom-left hot-spot-element"></div>
            </div>
            <div class="small-circle"></div>
            <div class="hot-spot-title">R</div>
        </div>
    </div>
    <div class="title">Drag left <span>and</span> right eye hotspot to position on frame, opposite eye hotspot will be automatically adjusted.</div>
    <div class="actions action-buttons">
        {% include "try_it_on_hot_spots_links" %}
    </div>
</div>