<div id="content" class="content-page">
    <div class="content-main clrfix">
        {% if shop.catalog_enabled? %}
            {% include 'page_with_active_ecommerce' with page.content %}
        {% else %}
            {% if page.is_home_page and settings.show_carousel %}
                {% include 'carousel' %}
            {% endif %}

            {{ page.content }}
        {% endif %}
    </div>
</div>
<script>
    $(function () {
                setup_carousels('.featured-products .product .image-carousel');
                bind_product_body_clicker('.featured-products', '.product');
            }
    );
</script>