<div class="form-item">
    {% form_field 'ff.label', 'first_name', 'first name' %}
    {% form_field 'ff.text_field', 'first_name', { "class": "input-text first-name", "placeholder": "first name" }%}
    {% form_field 'ff.error', 'first_name' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'last_name', 'last name' %}
    {% form_field 'ff.text_field', 'last_name', { "class": "input-text last-name", "placeholder": "last name" }%}
    {% form_field 'ff.error', 'last_name' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'email', 'email' %}
    {% form_field 'ff.text_field', 'email', { "class": "input-text email", "placeholder": "email" }%}
    {% form_field 'ff.error', 'email' %}
</div>
<div class="form-item">
    {% form_field 'ff.label', 'phone', 'phone' %}
    {% form_field 'ff.text_field', 'phone', { "class": "input-text phone", "placeholder": "phone" }%}
    {% form_field 'ff.error', 'phone' %}
</div>
