{% if product.sku contains "Catalog" %}
	{% if product.sku == "Catalog001" %}
		<a class="btn" href="/uploads/website/file_content/content/03-16-2017/1444/Chancelight_apparel_catalog.pdf" target="_blank">Download PDF</a>
	{% elsif product.sku == "Catalog002" %}
		<a class="btn" href="/sites/33/themes/a85465c17ace2215ef4be0c4a711b9d1/theme_files/assets/Spectrum_apparel_catalog_V4.pdf" target="_blank">Download PDF</a>
	{% elsif product.sku == "Catalog003" %}
		<a class="btn" href="/sites/33/themes/a85465c17ace2215ef4be0c4a711b9d1/theme_files/assets/Ombudsman_apparel_catalog_V4.pdf" target="_blank">Download PDF</a>
	{% elsif product.sku == "Catalog004" %}
		<a class="btn" href="/uploads/website/file_content/content/03-22-2017/1453/EAP_apparel_catalog_V4.pdf" target="_blank">Download PDF</a>
	{% elsif product.sku == "Catalog005" %}
		<a class="btn" href="/sites/33/themes/a85465c17ace2215ef4be0c4a711b9d1/theme_files/assets/Sagecare_apparel_catalog_V4.pdf" target="_blank">Download PDF</a>
	{% elsif product.sku == "Catalog006" %}
		<a class="btn" href="/sites/33/themes/a85465c17ace2215ef4be0c4a711b9d1/theme_files/assets/Growing_minds_apparel_catalog_V4.pdf" target="_blank">Download PDF</a>
	{% endif %}
{% else %}
<div class="add-to-cart-area">

	{% if shop.store_enabled? %}
		<input type="submit" name="add_to_cart" value="Add to Cart" class="btn"/>
		<br>
	{% endif %}

	{% if wishlist_enabled %}
		<input type="submit" name="add_to_wishlist" value="Add to Wishlist" class="btn"/>
	{% endif %}
</div>
{% endif%}

