<div class="notification-area" style="position: absolute;  width: 100%; left: 0; margin-top: -10px;">
	{% if current_user %}
		<div class="notification notification-error">You are not authorized to view this page.</div>
	{% else %}
		<div class="notification notification-error">You are not authorized to view this page. You may need to login to access the requested page.</div>
	{% endif %}
</div>

{% unless current_user %}
<!-- added custom redirect logout code -->
<script type="text/javascript">
<!--
window.location = "https://mycloud.pearson.com"
//-->
</script>

	<div class="sign-in-wrap">
		<div class="sign-in">
			<div class="content-block">
				<h1>Sign In</h1>
			</div>
			<div class="content-block">
				<div class="sign-in-form">
					{% include "login_form" %}
				</div>
			</div>
			<div class="content-block">
				<a href="{{ forgot_password_url }}" class="forgot-link">Forgot password?</a>
				{% for provider in providers %}
				<a href="{{ provider | provider_url }}">Sign in with {{ provider.name | titleize }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endunless %}
