<div class='images-wrapper'>
    {% if product.images.size > 1 %}
      <a class="nav prev"></a>
      <a class="nav next"></a>
    {% endif %}

    <div class='images-container'>
        <ul class="clrfix images">
            {% for image in product.images %}
            <li class='image {% if image.primary? %} primary {% endif %}' data-id="{{ image.id }}">
                <a href="{{ image.large_url }}" rel="lightbox"><img src="{{ image.thumb_url }}" class="small-thumb" data-fit='50' /></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    $('div.images-wrapper').data('scrolling', new HorizontalScrolling({containerSelector: 'div.product-gallery div.gallery-main ul.images', itemClass: 'image', displayedCount: 4, itemWidth: 77}));
</script>
