<ul class="clrfix">
    {% for product_personalization in line_item.product_personalizations %}
    <li>
        <div class="container product-personalization">
            <h3>{{ product_personalization.title }} {% if product_personalization.amount != 0 %}({{ product_personalization.amount | points_or_currency }}){% endif %}</h3>
            <div class="attributes">
                {% for attribute in product_personalization.product_personalization_attributes %}
                    <div class="attribute">
                        <label>{{ attribute.key }}:</label>
                        {% if attribute.value != empty %}
                            <span class="value">{{ attribute.value | join: ', ' }}</span>
                        {% else %}
                            <span class="not-specified">&lt;not specified&gt;</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
