{% form 'create_account', context_name: 'f' %}
{{ form.errors | default_errors }}

{% form_field 'f.input', 'first_name' %}
{% form_field 'f.input', 'last_name' %}
{% form_field 'f.input', 'username' %}
{% form_field 'f.input', 'email', { "required" : true }  %}

<div id="customer_type_div">
<label for="customer_type">* Customer Type</label>
<select id="customer_type" name="customer_type">
  <option selected="true" disabled="disabled">Select type</option>
  <option value="Shop">Shop</option>
  <option value="Distributor">Distributor</option>
  <option value="Axalta Representative">Axalta Representative</option>
</select>
</div>

{% if custom_user_fields_enabled %}
  {% form_block 'f.fields_for', context_name: 'ff', object_name: 'custom_field_values' %}
    {% for field in f.liquid_object.custom_fields_for_registration %}
      {% include 'custom_user_field', field: field %}
    {% endfor %}
  {% endform_block %}
{% endif %}

{% if shop.active_group_passcode? %}
  {% form_field 'f.input', 'group_passcode' %}
{% endif %}

{% form_field 'f.input', 'password', { "required" : true } %}
{% form_field 'f.input', 'password_confirmation' %}

{% form_field 'f.submit', 'Create account', {"class": "btn custom_btn custom-button btn-green"} %}
{% endform %}

<script type="text/javascript">
  $('#customer_type').change(function(){
    var val = $('#customer_type option:selected').attr("value");
    console.log(val);

    if( val == "Shop"){
      $('#website_user_custom_field_values_37').css("display","block");
      $('.sign-up .sign-up-form label[for="website_user_custom_field_values_37"]').css("display","block").text("* Shop Name");
    } else if (val =="Distributor"){
      $('#website_user_custom_field_values_37').css("display","block");
      $('.sign-up .sign-up-form label[for="website_user_custom_field_values_37"]').css("display","block").text("* Distributor Name");
    } else if (val == "Axalta Representative"){
	  $('#website_user_custom_field_values_37').val("na");
      $('#website_user_custom_field_values_37').css("display","none");
      $('.sign-up .sign-up-form label[for="website_user_custom_field_values_37"]').css("display","none");
    }

    $('#website_user_custom_field_values_35').val(val);
  });
</script>

<style type="text/css">
  .form-item, div.input{ clear: both; }
</style>