/*
.main-nav.navigation-menu, .sub-menu-list.navigation-menu, .main-nav.navigation-menu .sub-menu-list.navigation-menu li { margin:0px; padding:0px; }
.main-nav.navigation-menu li {float:left; display:inline; cursor:pointer; list-style:none; padding:0px 10px 0px 10px; border:1px #000 solid; position:relative;}
.main-nav.navigation-menu li.level-0 > ul {left:-1px; top:100%;}

li, li a {color:#000; text-decoration:none;}
.main-nav.navigation-menu .sub-menu-list.navigation-menu li { width:100%; text-indent:10px; line-height:30px; margin-right:10px; border-top:1px #000 solid; border-bottom:1px #000 solid;
    border-left:none; border-right:none; background:#fff;}
.main-nav.navigation-menu li a {display:block; width:inherit; height:inherit;}

ul.sub-menu-list.navigation-menu { display:none; }
.main-nav.navigation-menu li:hover > a, .main-nav.navigation-menu li:hover { color:#fff; background:#000; }
li:hover > .sub-menu-list.navigation-menu { display:block; position:absolute; width:200px; top:-2px; left:100%; z-index:1000; border:1px #000 solid; }
li:hover { position:relative; z-index:2000; }
*/

.main-nav.navigation-menu, .sub-menu-list.navigation-menu, .main-nav.navigation-menu .sub-menu-list.navigation-menu li { margin:0px; padding:0px; }
.main-nav.navigation-menu li {display:block; cursor:pointer; list-style:none; position:relative;}
.main-nav.navigation-menu li.level-0 > ul { min-width: 100%; top: 100% }

li, li a { text-decoration:none; }
/*.main-nav.navigation-menu .sub-menu-list.navigation-menu li { width:100% }*/
.main-nav.navigation-menu li a {display:block; width:inherit; height:inherit;}

/*ul.sub-menu-list.navigation-menu { display:none; }*/
/*li:hover > .sub-menu-list.navigation-menu { display:block; position:absolute; top:-2px; left:100%; z-index:1000; }*/
li:hover { position:relative; z-index:2000; }
