<div class="product-info-summary">
	<div class="sku">
		<span><strong>Item #:</strong> {{ product.sku }}</span>
	</div>

	<div class="current-price">
		<span><strong>Unit Price:</strong> {{ product.total_price | points_or_currency }}</span>
	</div>

	<div class="minimum-order">
		<span><strong>Minimum Order: </strong> {{ product.minimum_order_quantity }}</span>
	</div>
</div>