<div class="product-tabs">
  <!-- <ul class="clrfix">
    <li class="selected">
      <a href="javascript:void(0)" rel="tab-01">Overview</a>
    </li>
    {% if product.active_quantity_discount? %}
    <li>
      <a href="javascript:void(0)" rel="tab-02">Quantity Discounts</a>
    </li>
    {% endif %}
  </ul> -->
  <div class="tabs-body">
    <div id="tab-01" class="product-description powered-with-ckeditor" style="display: block;">
      {{ product.description }}
    </div>
  </div>

  {% if product.active_quantity_discount? %}
  <div class="tabs-body">
    <div id="tab-02" class="product-quantity-discounts powered-with-ckeditor" style="display: block;">
      <table class="tab_2">
        <tbody>
        <tr>
          <td><b>Quantity</b></td>
          <td>Base Price</td>
        </tr>
        {% for quantity_discount in quantity_discounts %}
        <tr>
          <td>{{ quantity_discount.quantity }}</td>
          <td>{{ quantity_discount.price | points_or_currency }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
