<div class="product-page-right recently-viewed-products" style="display: none">
    <h4>
        Recently viewed:
    </h4>
</div>

<script>
    $(function () { load_recently_viewed_products('.recently-viewed-products'); });	
</script>
