{% if product.enable_product_options? and product.ordered_modifications != empty %}
<div class="prod_option_block">
    <h3>Product Options</h3>
    <div class="product-options">
        {% for choice in line_item.choices %}
        {% assign group  = choice.product_option_group %}
        {% assign option = choice.product_option %}

        {% if group %}
        {% include 'product_option_group' with group %}
        {% elsif option %}
        {% include 'product_option' with option %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
