<style type="text/css">

	html, body{
		overflow: hidden;
	}

	#privacy_policy {
	    position: absolute;
	    z-index: 10000;
        width: 100vw;
	    height: 100vh;
	    margin: 0 auto;
	    background: rgba(0,0,0,0.7);
        overflow: hidden;
		display: none;
	}

	#policy:not(.page){
	    background: #FFF;
	    width: 100%;
	    /* width: 800px; */
	    max-width: 800px;
	    max-height: 400px;
	    padding: 20px;
	    border-radius: 10px;
	    box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.25);
	    margin: 0 auto;
        overflow: scroll;
		
		margin-top: 20px;
        /*-webkit-transform: translate(0%, 50%);
        -moz-transform: translate(0%, 50%);
        -ms-transform: translate(0%, 50%);
        -o-transform: translate(0%, 50%);
        transform: translate(0%, 50%);*/
	}

	#policy h1{
	    font-size: 28px;
	    border-bottom: 2px solid;
	    padding: 0px 0px 5px;
	    margin: 0px 0px 20px;
	    line-height: normal;
	}

	#policy table{

	}

	#policy table tr td{
		border: 1px solid #2f363f;
		vertical-align: top;
		padding: 10px;
	}

	#policy table tr td:first-child{
		background: #757575;
		color: #FFF;
		font-weight: bold;
	}

	.btn{
	    padding: 15px;
	    display: inline-block;
	    border-radius: 5px;
	    margin: 10px 0px 23px;
	}
</style>

<div id="policy">
<h1>Optiv Promotional Merchandise Use Policy</h1>

<p>The goal of this policy document is to provide Optiv employees with guidance on obtaining and using Optiv promotional merchandise. The use of Optiv premium items reinforces our company identity, brand and culture. By creating a uniform approach, we can help ensure the representation of our brand and corporate mark remains intact, while promoting Optiv through the use of promotional materials.</p>

<table>
	<tbody>
		<tr>
			<td width="20%">Definition</td>
			<td width="80%">Optiv promotional merchandise (AKA swag or premium items) include, but are not limited to, apparel,  office supplies, bags, drinkware, sporting goods, gifts and other items bearing the Optiv logo.</td>
		</tr>

		<tr>
			<td>Optiv Brand</td>
			<td>Optiv places a high priority on the representation of the Optiv corporate mark and produces promotional items of high quality, which reinforce the Optiv brand. Optiv promotional items should not be produced on an individual employee basis. Should a unique situation or request arise, please contact <a href="mailto:creative@optiv.com">creative@optiv.com</a> to review and approve any logo placement and item selection for promotional materials.</td>
		</tr>

		<tr>
			<td>Optiv Store</td>
			<td>Optiv has established an online company store to be the primary location for employees wishing to obtain Optiv promotional merchandise.  Featured items have been pre-selected based on quality and adherence to meeting standards set with the Optiv brand. Access to the Optiv store can be found on the Optiv SSO (Single Sign-On) dashboard. The website is intended for employee use only and should not be shared with third parties, clients or partners for use directly or indirectly.</td>
		</tr>

		<!--<tr>
			<td>Expensing Premium Items</td>
			<td>The online Optiv store is available for employees seeking promotional items for their personal use. Employees may <span class="underline">not</span> expense or seek reimbursement from Optiv for merchandise purchased from the store at this time whether for personal or client use. A policy for obtaining client giveaways for the use of sales will be released in 2016.</td>
		</tr>-->

		<tr>
			<td>Legacy Branded Items</td>
			<td>The use of all legacy Accuvant and FishNet branded promotional items should be limited to home and/or personal use. These items should not be distributed and/or showcased at any market or internal facing event, including but not limited to client meetings, partner meetings, internal planning meetings (Kick-Off, QBRs), marketing activities, local office gatherings, company or partner sponsored holiday parties etc.</td>
		</tr>

		<tr>
			<td>Feedback</td>
			<td>As an Optiv employee, we value your input and welcome any comments or suggestions regarding the employee store/portal and/or for merchandise selections. To submit a comment in the online, please refer to the "contact us" tab on the Optiv store website or to submit via email, please send us a note at <a href="mailto:Optiv@epromos.com">Optiv@epromos.com</a>.</td>
		</tr>
	</tbody>
</table>

	<p style="margin-top: 15px;">Click the button below to begin shopping.</p>

	<p style="text-align: center;">
		<a class="button btn" onclick="clicked();">I Agree</a>
	</p>

</div>

