<div class="product-review">
    <div class="product-review-header">
       
        <div class="product-rating">{% include 'product_stars_rate' rate: review.rating %}</div>
    </div>
    <div class="review-title">{{ review.title | escape }}</div>
    <div class="review-body">{{ review.body | escape }}</div>
</div>
