<div>
    <p class="truncated">{{ address.first_address }}</p>

    <p class="truncated">{{ address.second_address }}</p>

    <p class="truncated">{{ address.address_city_line }}</p>

    <p class="truncated">{{ address.country }}</p>
</div>
