<style>
	.home_team{
    display: block;
    height: 100%;
    position: relative;
    z-index: 10;
		    margin: 50px 0px 20px;
}
	.five_column h1 {
		font-size:250%;	
		margin:10px 0px;
		    border-bottom: 3px solid;
    padding: 0px 0px 5px 0px;
		color:#002176;
	}
</style>
	<div class="home_team">

<div class="five_column">
	<h1>Your ePromos Team</h1>
			<div class="five_column col">
				<img src="/uploads/ckeditor/pictures/03-02-2016/81/content_jeff.png"/>
				 <div class="bio-dropdown">
	                <input type="checkbox" id="toggle-1">
	                <label for="toggle-1" class="bio-label">Jeff Pinsky</label>
	                <ul class="bio animated zoomIn" id="one">
	                    <li>Executive Vice President of ePromos: One of our co-founders, and an expert strategist with a wealth of knowledge.</li>
	                </ul>
                </div>
			</div>
			<div class="five_column col">
				<img src="/uploads/ckeditor/pictures/03-03-2016/83/content_wendy.png"/>
				<div class="bio-dropdown">
	                 <input type="checkbox" id="toggle-2">
                <label for="toggle-2" class="bio-label ">Wendy Thorne</label>
                <ul class="bio animated zoomIn" id="two">
                    <li>eStore Merchandiser: With over 20 years of experience in the promotional products industry, Wendy is here to help you with your company store needs. With an extensive background in merchandising, please feel free to come to her with product suggestions! </li>
                </ul>
                </div>
			</div>
			<div class="five_column col">
				<img src="/uploads/ckeditor/pictures/03-02-2016/82/content_jackie.png"/>
				<div class="bio-dropdown">
	                 <input type="checkbox" id="toggle-3">
                <label for="toggle-3" class="bio-label">Jackie Prather</label>
                <ul class="bio animated zoomIn" id="three">
                    <li>eCommerce Merchandiser – Jackie brings 6 years of experience in the promotional products industry with a heavy influence in the retail brands and 10+ years in customer service; she is here to help with all of your merchandising and company store needs.</li>
                </ul>
                </div>
			</div>
			<div class="five_column col">
				<img src="/uploads/ckeditor/pictures/03-03-2016/84/content_justine.png"/>
				<div class="bio-dropdown">
	                <input type="checkbox" id="toggle-4">
                <label for="toggle-4" class="bio-label">Justine Kay</label>
                <ul class="bio animated zoomIn" id="four">
                    <li>Program Manager, Web Development: Managing 21 ecommerce programs and designing the layout and functionality of all sites, she is the go to for overall site appearance and special features. </li>
                </ul>
                </div>
			</div>
			<div class="five_column col">
				<img src="/uploads/ckeditor/pictures/03-03-2016/85/content_nicole.png"/>
				<div class="bio-dropdown">
	                 <input type="checkbox" id="toggle-5">
                <label for="toggle-5" class="bio-label">Nicole Wiwi</label>
                <ul class="bio animated zoomIn" id="five">
                    <li>Nicole has 10+ years of Industry Experience in merchandising and managing eCommerce websites.  She specializes in bringing the boutique-feel to every client’s site and loves that her job requires her to shop online every day.  Nicole works with an amazing Team and is thrilled to have the opportunity to make your Company Store dreams a reality.</li>
                </ul>
                </div>
			</div>
		</div>
</div>
