{% form 'request_sample', context_name: 'f' %}
	{% assign product = f.object %}

<div class="sample-options">
    <h3>Sample Options</h3>

    {% if product.logos.size > 0 %}
        <div class="logos form-item">
            <label>Logo {% if product.logo_required? %}*{% endif %}</label>
            <div class="select-area">
                <select name="request_sample[logo]" class="msdropdown-select">
                    <option value=''>not specified</option>
                    {% for logo in product.logos %}
                        <option data-image="{{ logo.front_thumb_url }}" value="{{logo.id}}" {% if logo == product.logo  %} selected {% endif %}>{{ logo.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <span class="error">{{ product.error_messages['logo'] }}</span>
        </div>
    {% endif %}

    {% if product.enable_product_options? and product.ordered_modifications.size > 0 %}
        <div class="product-options form-item">
            {% for modification in product.ordered_modifications %}
                {% if modification.group? %}
                    {% include 'sample_group' with modification %}
                    {% elsif modification.option? %}
                    {% include 'sample_option' with modification %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="shipping-information">
    <h3>Shipping Details</h3>

    <div class="contact">
        {% form_block 'f.fields_for', context_name: 'ff', object_name: 'shipping_contact', object: product.shipping_contact %}
        <div class="form-item">
            {% form_field 'ff.label', 'first_name', 'First name *' %}
            {% form_field 'ff.text_field', 'first_name', { "class": "input-text first-name", "placeholder": "first name" }%}
            {% form_field 'ff.error', 'first_name' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'last_name', 'Last name *' %}
            {% form_field 'ff.text_field', 'last_name', { "class": "input-text last-name", "placeholder": "last name" }%}
            {% form_field 'ff.error', 'last_name' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'email', 'E-mail *' %}
            {% form_field 'ff.text_field', 'email', { "class": "input-text email", "placeholder": "email" }%}
            {% form_field 'ff.error', 'email' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'phone', 'Phone *' %}
            {% form_field 'ff.text_field', 'phone', { "class": "input-text phone", "placeholder": "phone" }%}
            {% form_field 'ff.error', 'phone' %}
        </div>
        {% endform_block %}
    </div>

    <div class="address">
        {% if current_user %}
            {% include 'shipping_addresses_drop_down' %}
        {% endif %}

        {% form_block 'f.fields_for', context_name: 'ff', object_name: 'shipping_address', object: product.shipping_address %}
        <div class="form-item">
            {% form_field 'ff.label', 'company', 'Company' %}
            {% form_field 'ff.text_field', 'company', { "class": "input-text company", "placeholder": "company" }%}
            {% form_field 'ff.error', 'company' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'first_address', 'Address *' %}
            {% form_field 'ff.text_field', 'first_address',  { "class": "input-text first-address", "placeholder": "address line 1"} %}
            {% form_field 'ff.error', 'first_address' %}
            {% form_field 'ff.text_field', 'second_address', { "class": "input-text second-address", "placeholder": "address line 2"} %}
            {% form_field 'ff.error', 'second_address' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'city', 'City *' %}
            {% form_field 'ff.text_field', 'city', { "class": "input-text city", "placeholder": "city" }%}
            {% form_field 'ff.error', 'city' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'country', 'Country *' %}
            <div class='select-wrapper country'>
                {% form_field 'ff.country_select', 'country' %}
            </div>
            {% form_field 'ff.error', 'country' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'state', 'State *' %}
            <div class='select-wrapper state'>
                {% country_state_select ff.object, input_name: 'state', form: ff %}
            </div>
            {% form_field 'ff.error', 'state' %}
        </div>
        <div class="form-item">
            {% form_field 'ff.label', 'zip', 'Zip Code *' %}
            {% form_field 'ff.text_field', 'zip', { "class": "input-text zip", "placeholder": "zip code"} %}
            {% form_field 'ff.error', 'zip' %}
        </div>
        {% endform_block %}
    </div>
</div>
<div class="clearfix"></div>
{% endform %}
