@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #home .row, #home .img_row{
        display: block!important;
    }

    #home .col{
        display: block!important;
        float: left;
    }

    #home .col_2{
        width: calc(50% - 12px)!important;
        min-height: 276px;
    }

    #home .col_3{
        width: calc(33.33333% - 12px)!important;
        min-height: 276px;

    }

}

@media (max-width:660px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {


    #home .col{
        float: none;
    }

    #home .col_2{
        width: 100%!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        min-height: 220px;
    }

    #home .col_3{
        width: 100%!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        min-height: 220px;
    }

}