{% if shop.active_multi_storefront? and session_passcode == blank %}
  <div id="multi-storefront-passcode">
    {% form 'passcode' %}
      <div class="form-item">
        <label class="string control-label" for="passcode">enter group passcode</label>
        <input class="input-text" id="passcode" name="passcode" type="text" placeholder="Enter Passcode">
      </div>

      <input type="submit" class="btn btn-green" value="Go"/>
    {% endform %}
  </div>
{% endif %}
