{% if shop.custom_try_it_on_upload_enabled? or user_user_user_hot_spot_preview_images != empty %}
<div class="content-block account-faces">
    <h2>
        Your Faces<span>click to delete a face</span>
    </h2>
    <div class="scrollable-images-wrapper">
        <a class="nav prev"></a>
        <a class="nav next"></a>
        <div class="images-scrollable">
            <div class="account-images images items">
                {% for image in user_user_user_hot_spot_preview_images %}
                <div class='user-hot-spot-image' id='{{ image | dom_id }}'>
                    <img src="{{ image.thumb_url}}" />
                    <a href='{{ image | delete_hot_spot_preview_image_url }}' class="delete-image" data-method='delete' data-remote ='true'></a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% if shop.custom_try_it_on_upload_enabled? %}
    <div class="add-new-face">

        {% form 'create_hot_spot_preview_image', context_name: 'f', for: 'new_hot_spot_preview_image' %}
            {% form_field "f.file_field", "file" %}
            <input class="btn custom_btn custom-button btn-green" name="commit" type="submit" value="add new face">
        {% endform %}
    </div>
    {% endif %}
</div>
<div class="try-it-on-controller"></div>
<script>
    $('div.try-it-on-controller').hide().data('controller', new window.UserHotSpotPreviewImagesController());
</script>
{% endif %}
