{% if shop.filtering_active %}
<div id="filter-button">Filter <i class="fa fa-chevron-down"></i></div>
<div class="sidebar filtering" id="filter-system">
  {% include 'keyword_input' %}
  {% include 'filter_rule' with filter_rules %}
	{% include 'current_filters' %}
  {% include 'current_keywords' %}
	<div class="clear"></div>
</div>

{% endif %}
