/*------------------------------------------------*/
/* GENERAL */
/*------------------------------------------------*/
*{
	font-family: 'Open Sans', sans-serif!important;
}

.fa{
	font-family: "FontAwesome"!important;
}

#page-showing h1{
	font-family: 'Playfair Display', serif!important;
	font-size: 28px;
	margin: 1em 0px;
}

.product-list .product,
.product-list .product.featured{
	margin-right: 18px;
}

/*------------------------------------------------*/
/* HEADER */
/*------------------------------------------------*/
#header{
	border-bottom: 1px solid #eee;
}

.navigation-bar ul.level-0{
	float: left;
}

.navigation-bar ul.level-0 li{
	display: inline-block;
}

.navigation-bar ul.level-0 li a{
	font-size: 14px;
    color: #3d3935;
    font-weight: normal;
    text-transform: capitalize;
    padding: 29px 15px;
    display: block;
}

.search{
    border: 1px solid #DDD;
    margin: 22px 0px!important;
    margin-left: 21px;
}

.search input[type="text"]{
	float: right;
    height: 30px;
	border: none;
	width: 90px;
}

.search input[type="submit"]{
	float: right;
    width: 30px;
    height: 30px;
}
/*------------------------------------------------*/
/* SLIDER */
/*------------------------------------------------*/
#slideshow{
    padding: 20px 0px;
}

#slideshow .left {
    width: 71.428571428%;
}

.slippry_wrapper {
    padding-right: 20px;
}

#slideshow .right {
    width: 28.571428571%;
}

#slideshow .top,
#slideshow .bottom{
	padding-left: 20px;
    padding-bottom: 10px;
}

#slideshow .right .top img{
	width: 100%;
	height: auto;
	max-width: 300px;
	border-bottom: 3px solid #d2db0e;
}

#slideshow .right .bottom img{
	width: 100%;
	height: auto;
	max-width: 300px;
	border-bottom: 3px solid #008833;
}

#slideshow .right a{
	display: block;
}

.sy-box{
	position: relative;
}

ul.sy-pager{
    position: absolute;
    bottom: 0px;
    z-index: 3;
}

.sy-pager li a{
	background-color: #ffba20;
}

.sy-pager li.sy-active a{
	background-color: #FFF!important;
}
/*------------------------------------------------*/
/* FOOTER */
/*------------------------------------------------*/
#footer .col_3 {
    width: 16.666666%;
}

#footer h1{
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 10px 20px 10px;
}

#footer .line{
	display: none;
}

#footer ul li{
	display: block;
	margin: 0px 0px 0px 10px;
}

#footer a:link, #footer a:visited{
	font-size: 12px!important;
}

#footer a:hover, #footer a:active {
    padding-left: 0px;
}

.footer-copy{
    border-top: 1px solid rgba(17,178,166,0.4);
}
/*------------------------------------------------*/
/* MEDIA QUERIES */
/*------------------------------------------------*/
@media (min-width: 661px){
	#wrapper{
		padding-bottom: 70px;
	}

	.top-bar{
		display: none;
	}

	div.top-area .logo{
	    width: 133px!important;
	    height: 40px!important;
        background-size: 133px 40px!important;
	}

	.navigation-bar ul.main-nav.navigation-menu > li > a,
	.account-links a,
	.navigation-bar ul.main-nav.navigation-menu > li > ul > li > a{
		font-size: 14px!important;
		padding: 29px 15px!important;
	}

	.navigation-bar, .account-links{
		margin: 0px!important;
	}
}

@media (max-width: 660px){

	div.top-area .logo{
	    width: 133px!important;
	    height: 40px!important;
        background-size: 133px 40px!important;
	}

	.navigation-bar ul.level-0{
		float: none;
	}

	.navigation-bar ul.level-0 li{
		display: block;
	}

	.navigation-bar ul.level-0 li a{
	    text-align: center;
        padding: 10px 0px;
        font-size: 11px;
	}

	.search{
		margin: 10px!important;
	}

	.search input[type="text"] {
	    width: calc(100vw - 80px);
	}

	#footer .col_3{
		width: 100%;
	}

}

@media (max-width: 375px){
	#slideshow .left {
	    width: 100%;
	    float: none;
	}

	.slippry_wrapper {
	    padding: 10px;
	}

	#slideshow .right {
	    width: 100%;
	    float: none;
	}

	#slideshow .top,
	#slideshow .bottom{
	    padding: 10px;
	}
}