<!-- {% capture account_section_title %}
	{% if shop.points_store? %}Points{% else %}Account{% endif %} Balance
{% endcapture %}

{% capture account_page_content %}
<div class="content-block">
    <h2>{% if shop.points_store? %}Points{% else %}Account{% endif %} Balance</h2>
    <table class="account-info">
        <tr>
            <th>Current Balance</th>
            <td>{{ current_user.balance | points_or_currency }}</td>
        </tr>
    </table>
    <table class="account-info gift-certificate">
        <tr>
			<th style="line-height: 24px; vertical-align: top;">Activate Gift Certificate</th>
            <td class="gift-certificate-form">
                {% include 'apply_gift_certificate_form' %}
            </td>
        </tr>
    </table>
</div>
{% if current_user.balance_history and current_user.balance_history.size > 0 %}
<div class="content-block">
    <h2>Balance History</h2>
    <table class="account-info balance-history">
        {% include 'account_balance_history_item' with current_user.balance_history %}
    </table>
</div>
{% endif %}
{% endcapture %}
{% include 'account_page' with account_page_content, section_title: account_section_title %} -->
