<div class="review-preview-wrapper">
    <div class="product-review">
        <div class="product-review-header">
            <span class='review-author'>{{ current_user | short_name }}</span> <span class="review-date">just now</span>

            <div class="product-rating">{% include 'product_stars_rate' rate: review.rating %}</div>
        </div>
        <div class="review-title">{{ review.title }}</div>
        <div class="review-body">{{ review.body }}</div>
    </div>
    <div class="controls">
        <a class="btn_2 custom-button submit-review-btn" href="#">Submit Review</a>
        <div class="controls-container">
            <a class="edit-review" href="#">Edit review</a>
            <a class="cancel-review" href="#">Cancel review</a>
        </div>
    </div>
</div>
