{% form_block 'f.association', context_name: 'contact', object_name: 'shipping_contact' %}
<div class="form-item">
    {% form_field 'contact.label', 'first_name', 'first name' %}
    {% form_field 'contact.text_field', 'first_name', { "class": "input-text first-name", "placeholder": "first name" }%}
    {% form_field 'contact.error', 'first_name' %}
</div>
<div class="form-item">
    {% form_field 'contact.label', 'last_name', 'last name' %}
    {% form_field 'contact.text_field', 'last_name', { "class": "input-text last-name", "placeholder": "last name" }%}
    {% form_field 'contact.error', 'last_name' %}
</div>
{% endform_block %}

{% form_block 'f.association', context_name: 'address', object_name: 'shipping_address' %}

<div style="display: none;">
<div class="form-item">
    {% form_field 'address.label', 'company', 'company' %}
    {% form_field 'address.text_field', 'company', { "class": "input-text company", "placeholder": "company" }%}
    {% form_field 'address.error', 'company' %}
</div>
<div class="form-item">
    {% form_field 'address.label', 'first_address', 'address' %}
    {% form_field 'address.text_field', 'first_address',  { "class": "input-text first-address", "placeholder": "address line 1"} %}
    {% form_field 'address.error', 'first_address' %}
    {% form_field 'address.text_field', 'second_address', { "class": "input-text second-address", "placeholder": "address line 2"} %}
    {% form_field 'address.error', 'second_address' %}
</div>
<div class="form-item">
    {% form_field 'address.label', 'city', 'city' %}
    {% form_field 'address.text_field', 'city', { "class": "input-text city", "placeholder": "city" }%}
    {% form_field 'address.error', 'city' %}
</div>
<div class="form-item">
    {% form_field 'address.label', 'country', 'country' %}
    <div class='select-wrapper country'>
        {% form_field 'address.country_select', 'country' %}
    </div>
    {% form_field 'address.error', 'country' %}
</div>
<div class="form-item">
    {% form_field 'address.label', 'state', 'state' %}
    <div class='select-wrapper state'>
        {% country_state_select order.shipping_address, input_name: 'state', form: address %}
    </div>
    {% form_field 'address.error', 'state' %}
</div>
<div class="form-item">
    {% form_field 'address.label', 'zip', 'zip code' %}
    {% form_field 'address.text_field', 'zip', { "class": "input-text zip", "placeholder": "zip code"} %}
    {% form_field 'address.error', 'zip' %}
</div>
</div>
{% endform_block %}

{% form_block 'f.association', context_name: 'contact', object_name: 'shipping_contact' %}
<div class="form-item">
    {% form_field 'contact.label', 'email', 'email' %}
    {% form_field 'contact.text_field', 'email', { "class": "input-text email", "placeholder": "email" }%}
    {% form_field 'contact.error', 'email' %}
</div>
<div class="form-item">
    {% form_field 'contact.label', 'phone', 'phone' %}
    {% form_field 'contact.text_field', 'phone', { "class": "input-text phone", "placeholder": "phone" }%}
    {% form_field 'contact.error', 'phone' %}
</div>
{% endform_block %}
