{% assign account_section_title = 'Account Settings' %}
{% capture account_page_content %}
<div class="content-block account-logos">
  <h2>
    Your Logos
  </h2>
  {% if current_user.logos.size == 0 %}
  <span>You have no logos! {% if shop.custom_logos_upload_enabled? %}To upload new logo click the button below.{% endif %}</span>
  <div class="logos-container"></div>
  {% else %}
  <div class="logos-wrapper">
    <a class="nav prev"></a>
    <a class="nav next"></a>
    <div class="logos-container">
      <div class="logos">
        {% for logo in current_user.logos %}
          {% include 'account_logo' logo: logo %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if shop.custom_logos_upload_enabled? %}
  <div class="new-logo-button">
    <button id="add-new-logo" class="btn custom-button">ADD NEW LOGO</button>
  </div>
  {% endif %}
</div>
<script type="text/javascript">
  $('div.logos-container').data('controller', new window.AccountLogosController('{{ new_logo_url }}', '{{ logos_url }}'));
</script>
{% endcapture %}
{% include 'account_page' with account_page_content, section_title: account_section_title %}
