<div class="content common-page clearfix">
    <div class="content-block page-header">
        <h1>Reset Account Password</h1>
    </div>

    <div class="content-block">
        <div class="notice centerized">
            Enter a new password and confirm it
        </div>

        <div class="common-form">
            {% form 'reset_account_password', context_name: 'f' %}
            {{ form.errors | default_errors }}

            {% form_field 'f.input',  'password', {"placeholder": "password"} %}
            {% form_field 'f.input',  'password_confirmation', {"placeholder": "password confirmation"} %}

            {% form_field 'f.submit', 'reset password', {"class": "custom-button btn-red"} %}
            {% endform %}
        </div>
    </div>
</div>
