<style type="text/css">
	.col{float: left;}

	.col_1{
	  width: 100%
	}

	.col_8{
	  width: 80%;
	}

	.col_6{
	  width: 66.666%;
	}

	.col_2{
	  width: 50%;
	}

	.col_3{
	  width: 33.333333%;
	}

	.col_4{
		width: 25%;
	}

	.col_5{
		width: 20%;
	}


	.col img{
	  width:100%;
	}

	.clrfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	#home{
		background: #176390;
	}

	#home .row {
	    width: 100%;
	    max-width: 980px;
	    margin: 0 auto;
	}


	@media(max-width:660px){
		.col_4{
			width: 50%;
		}
	}

	@media(max-width:375px){
		.col{
			float: none;
		}

	    .col_2, .col_3, .col_4, .col_5{
	      width: 100%;
	    }

	}
</style>

<div id="home">
	<div class="row clrfix">
		<div class="col col_4">
			<a href="/products">
				<img src="/uploads/ckeditor/pictures/02-22-2016/71/home_1_on.png" onmouseover="this.src='/uploads/ckeditor/pictures/02-22-2016/77/home_1.png'" onmouseout="this.src='/uploads/ckeditor/pictures/02-22-2016/77/home_1.png'" alt="View All Products">
			</a>
		</div>

		<div class="col col_4">
			<a href="{{ order_history_url }}">
				<img src="/uploads/ckeditor/pictures/02-22-2016/73/home_2.png" onmouseover="this.src='/uploads/ckeditor/pictures/02-22-2016/70/home_2_on.png'" onmouseout="this.src='/uploads/ckeditor/pictures/02-22-2016/73/home_2.png'" alt="Order History">
			</a>
		</div>

		<div class="col col_4">
			<a href="{{ account_dashboard_url }}">
				<img src="/uploads/ckeditor/pictures/02-22-2016/75/home_3.png" onmouseover="this.src='/uploads/ckeditor/pictures/02-22-2016/72/home_3_on.png'" onmouseout="this.src='/uploads/ckeditor/pictures/02-22-2016/75/home_3.png'" alt="My Account">
			</a>
		</div>

		<div class="col col_4">
			<a href="{{ cart_url }}">
				<img src="/uploads/ckeditor/pictures/02-22-2016/76/home_4.png" onmouseover="this.src='/uploads/ckeditor/pictures/	02-22-2016/74/home_4_on.png'" onmouseout="this.src='/uploads/ckeditor/pictures/02-22-2016/76/home_4.png'" alt="Shopping Cart">
			</a>
		</div>
	</div>
</div>