<div class="sign-in-wrap">
	<div class="sign-in">

      <h1>Forgot Password</h1>

        <div class="notice">
            Everyone forgets. Just enter the email address you used to create your account and
            we'll reset your password and send a link to your email address so you can create a
            new password. Simple! Please
            {% if shop.primary_email != blank %}
                <a href="mailto:{{ shop.primary_email }}">Contact Us</a>
            {% else %}
				<a style="display: inline;" href="/pages/213">Contact Us</a>
            {% endif %}
            with any other account issues.
        </div>
 		<div class="sign-in-form input_frgt">
            {% form 'recover_account_password', context_name: 'f' %}
              {{ form.errors | default_errors }}

              {% form_field 'f.input', 'email', {"label": "Email address", "placeholder": "email"} %}

              {% form_field 'f.submit', 'Reset password', {"class": "btn custom_btn custom-button frgt_btn btn-green"} %}
            {% endform %}
			<a href="{{ login_url }}" class="btn_2 custom-btn frgt_link cancel_pass">Cancel</a>
		</div>

</div>
</div>
