{% assign account_section_title = 'Account Settings' %}
{% capture account_page_content %}
<div class="content-block">
    <h2>
        Account Info
    </h2>
    {% form 'account_edit', context_name: 'f' %}
    <div class="form-item">
        {% form_field 'f.label', 'first_name' %}
        {% form_field 'f.text_field', 'first_name', { "class": "input-text" } %}
        {% form_field 'f.error', 'first_name' %}
    </div>
    <div class="form-item">
        {% form_field 'f.label', 'last_name' %}
        {% form_field 'f.text_field', 'last_name', { "class": "input-text" } %}
        {% form_field 'f.error', 'last_name' %}
    </div>
    <div class="form-item">
        {% form_field 'f.label', 'email' %}
        {% form_field 'f.text_field', 'email', { "class": "input-text" } %}
        {% form_field 'f.error', 'email' %}
    </div>
    <div class="form-item">
        {% form_field 'f.label', 'username' %}

        {% if current_user.integrated? %}
            {% form_field 'f.text_field', 'username', { "class": "input-text", "disabled": "disabled" } %}
        {% else %}
            {% form_field 'f.text_field', 'username', { "class": "input-text" } %}
        {% endif %}

        {% form_field 'f.error', 'username' %}
    </div>

    {% if shop.custom_user_fields_enabled? %}
        {% for field in form.custom_user_fields %}
  <div class="fields">
    {% include 'custom_user_field', field: field %}
  </div>
{% endfor %}
    {% endif %}

    <div class="form-item">
        {% form_field 'f.label', 'phone' %}
        {% form_field 'f.text_field', 'phone', { "class": "input-text" } %}
        {% form_field 'f.error', 'phone' %}
    </div>
    <div class="form-item">
        {% form_field 'f.label', 'current_password' %}

        {% if current_user.integrated? %}
            {% form_field 'f.password_field', 'current_password', { "class": "input-text", "disabled": "disabled" } %}
        {% else %}
            {% form_field 'f.password_field', 'current_password', { "class": "input-text" } %}
        {% endif %}

        {% form_field 'f.error', 'current_password' %}
    </div>
    <div class="form-item">
        {% form_field 'f.label', 'password', 'New password' %}

        {% if current_user.integrated? %}
            {% form_field 'f.password_field', 'password', { "class": "input-text", "disabled": "disabled" } %}
        {% else %}
            {% form_field 'f.password_field', 'password', { "class": "input-text" } %}
        {% endif %}

        {% form_field 'f.error', 'password' %}
    </div>
    <div class="form-item">
        {% form_field 'f.label', 'password_confirmation', 'Re-enter new password' %}

        {% if current_user.integrated? %}
            {% form_field 'f.password_field', 'password_confirmation', { "class": "input-text", "disabled": "disabled" } %}
        {% else %}
            {% form_field 'f.password_field', 'password_confirmation', { "class": "input-text" } %}
        {% endif %}

        {% form_field 'f.error', 'password_confirmation' %}
    </div>

    <input type="submit" value="Save changes" class="btn custom_btn custom-button btn-green" />
    {% endform %}
</div>
{% user_hot_spot_images %}
{% endcapture %}
{% include 'account_page' with account_page_content, section_title: account_section_title %}
